---
import geodesyServiceImg from "../../assets/geodesyServiceImg.webp";
import Accordion from "../Accordion.astro";
---

<div
  class="geodesyGroup flex flex-col xxs:flex-row justify-around gap-[20px] md:gap-0 lg:justify-between mb-[100px] xxs:mb-[150px]"
>
  <div class="w-full xxs:max-w-[500px] max-h-[433px] overflow-hidden">
    <img
      class="object-cover servicePic overflow-hidden"
      src={geodesyServiceImg.src}
      width="500px"
      height="433px"
      alt="Изображение инженерно-изыскательного оборудования для геодезии"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="max-w-[420px] md:max-w-[450px] lg:max-w-[650px] text-mainTxtColor text-[20px] xxs:text-[24px] md:text-[28px] lg:text-[32px] font-light text-left lg:pr-[81px] leading-[55px]"
  >
    Инженерно-геодезические изыскания проводятся для получения
    топографо-геодезических данных о местности, включая здания, сооружения,
    зеленые насаждения и подземные коммуникации.
  </p>
</div>
<div class="mb-[50px]">
  <span class="text-mainTxtColor">Виды работ:</span>
</div>
<section class="mb-[260px]">
  <Accordion
    title="Рекогносцировочное обследование территории"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Создание съемочно-разбивочной основы"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Топографическая съемка участка в разных масштабах (1:200 - 1: 5000)"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Поиск, обнаружение и координировани подземных коммуникацией"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Геодезическое сопровождение строительно-монтажных работ"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Проведение исполнительных геодезических съемок"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Камеральная обработка полученных результатов и формирование цифровой модели местности (ЦММ)"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Составление технического отчета"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
</section>
<span
  class="font-normal text-[20px] md:text-[28px] lg:text-[32px] leading-tight"
>
  Остались вопросы? <br />
  <a href="#contact" class="text-textHighlight">Напишите нам</a>
   и мы проконсольтируем вас
</span>

<style>
  @media (max-width: 1200px) {
    .servicePic {
      width: 300px;
      height: auto;
    }
  }
  @media (max-width: 526px) {
    .geodesyGroup {
      flex-direction: column;
    }
  }
  @media (max-width: 431px) {
    .servicePic {
      width: 100%;
      height: auto;
    }
  }
</style>
