---
import geodesyServiceImg from "../../assets/geodesyServiceImg.webp";
---

<div class="flex justify-between mb-[150px]">
  <div class="max-w-[500px] max-h-[433px] overflow-hidden">
    <img
      class="object-cover"
      src={geodesyServiceImg.src}
      width="500px"
      height="433px"
      alt="Изображение инженерно-изыскательного оборудования для геодезии"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="max-w-[650px] text-mainTxtColor text-[32px] font-light text-left pr-[81px] leading-[55px]"
  >
    Инженерно-геодезические изыскания проводятся для получения
    топографо-геодезических данных о местности, включая здания, сооружения,
    зеленые насаждения и подземные коммуникации.
  </p>
</div>
