---
import geologyServiceImg from "../../assets/geologyServiceImg.webp";
import Accordion from "../Accordion.astro";
---

<div class="flex justify-between mb-[150px] h-full">
  <div class="max-w-[532px] max-h-[436px] overflow-hidden">
    <img
      class="object-cover h-[436px]"
      src={geologyServiceImg.src}
      width="532px"
      height="436px"
      alt="Изображение инженерно-изыскательных геологических работ"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="max-w-[610px] text-mainTxtColor text-[32px] font-light text-left pr-[12px]leading-[55px]"
  >
    Инженерно-геологические изыскания – это исследования, направленные на
    изучение геологических условий строительства. В процессе оцениваются рельеф,
    сейсмотектоника, гидрогеология и геологическое строение местности. Эти
    изыскания предоставляют необходимые данные для проектирования строительства.
  </p>
</div>
<div class="mb-[20px]">
  <span class="text-mainTxtColor">Виды работ:</span>
</div>
<section class="mb-[260px]">
  <Accordion
    title="Проходка инженерно-геологических выработок"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Полевые исследования грунтов"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Лаборотные исследования"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
  <Accordion
    title="Камеральная обработка и изучение"
    content="Lorem ipsum domenem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  />
</section>
<span class="font-normal text-[32px] leading-tight">
  Остались вопросы? <br />
  <a href="" class="text-textHighlight">Напишите нам</a>
  и мы проконсольтируем вас
</span>
