---
import laserServiceImg from "../../assets/laserServiceImg.webp";
import laserServiceImg2 from "../../assets/laserServiceImg2.webp";
---

<div class="flex justify-between mb-[150px]">
  <div class="max-w-[563px] max-h-[637px] overflow-hidden">
    <img
      class="object-cover h-[637px]"
      src={laserServiceImg.src}
      width="563px"
      height="637px"
      alt="Изображение инженерно-изыскательных геологических работ"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="max-w-[590px] text-mainTxtColor text-[32px] font-light text-left pr-[22x] leading-[55px]"
  >
    Если Вам необходима детальная 3D-модель объекта, Вам не обойтись без
    технологии трехмерного лазерного сканирования. Лазерное сканирование –
    новейшая технология, позволяющая в разы уменьшить сроки полевых работ, при
    этом значительно увеличив качество и детальность выполняемой съемки. При
    этом стоимость работ, выполненных этой технологией вплотную приблизилась к
    стоимости традиционных методов в геодезии.
  </p>
</div>
<section class="mb-[260px]">
  <img
    src={laserServiceImg2.src}
    class="object-cover"
    alt="Изображение работ по лазерному сканированию местности"
    loading="lazy"
    decoding="async"
    width="1210px"
    height="900px"
  />
</section>
<span class="font-normal text-[32px] leading-tight">
  Остались вопросы? <br />
  <a href="" class="text-textHighlight">Напишите нам</a>
  и мы проконсольтируем вас
</span>
