---
import laserServiceImg from "../../assets/laserServiceImg.webp";
---

<div class="flex justify-between mb-[150px]">
  <div class="max-w-[563px] max-h-[637px] overflow-hidden">
    <img
      class="object-cover h-[637px]"
      src={laserServiceImg.src}
      width="563px"
      height="637px"
      alt="Изображение инженерно-изыскательных геологических работ"
      loading="lazy"
      decoding="async"
    />
  </div>
  <p
    class="max-w-[590px] text-mainTxtColor text-[32px] font-light text-left pr-[22x] leading-[55px]"
  >
    Если Вам необходима детальная 3D-модель объекта, Вам не обойтись без
    технологии трехмерного лазерного сканирования. Лазерное сканирование –
    новейшая технология, позволяющая в разы уменьшить сроки полевых работ, при
    этом значительно увеличив качество и детальность выполняемой съемки. При
    этом стоимость работ, выполненных этой технологией вплотную приблизилась к
    стоимости традиционных методов в геодезии.
  </p>
</div>
