---
import aboutImg from "../assets/aboutImg.webp";
import aboutImg2 from "../assets/aboutImg2.webp";
---

<section id="about" class="mb-[165px]">
  <div class="flex justify-center">
    <div class="flex justify-center">
      <span class="w-[3px] h-[600px] bg-mainBgColor self-center"></span>
      <div class="flex flex-col ml-[38px]">
        <h3 class="mb-[35px] text-[64px] font-normal text-titleGreenTxtColor">
          О нас
        </h3>
        <p class="max-w-[619px] font-light text-[32px]">
          ТОО Мангистау Инжиниринг специализируется на геодезическом и
          геологическом сопровождении объектов любой сложности, включая дороги,
          здания, сооружения и инженерные сети.
          <br />
          <br />
           Все наши работы выполняются в соответствии с государственными
          нормативами, правилами и стандартами, гарантируя высокий уровень
          качества, качественного проектирования, безопасного строительства и
          эксплуатации.
        </p>
      </div>
      <div class="ml-[107px] relative w-[544px] h-[887px]">
        <img
          src={aboutImg.src}
          width="400px"
          height="500px"
          class="absolute rounded-lg z-10 left-0 top-0 w-[400px] h-[500px] object-cover"
          alt="Изображение лазерных работ на морпорте Актау"
          loading="lazy"
          decoding="async"
        />
        <img
          src={aboutImg2.src}
          width="400px"
          height="500px"
          class="absolute rounded-lg bottom-0 right-0 w-[400px] h-[500px] object-cover"
          alt="Изображение работ ТОО Мангистау Инжиниринг в сфере геодезии и геологии"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>
