---
const { title } = Astro.props;
const { content } = Astro.props;
---

<div class="border-acc">
  <div
    class="accordion bg-inherit text-mainTxtColor py-[18px] w-full text-left font-normal border-none outline-none transition duration-400">
    <p class="acc-title">{title}</p>
  </div>
  <div class="panel overflow-hidden">
    <p
      class="font-normal text-[22px] lg:text-[24px] py-[18px] max-w-[1150px] text-mainBgColor"
    >
      {content}
    </p>
  </div>
</div>

<style>
  .border-acc {
    border-top: 1px solid #397774;
  }

  .border-acc:last-child {
    border-bottom: 1px solid #397774;
  }

  .panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }

  .accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .acc-title {
    max-width: 1100px;
    @media screen and (max-width: 1200px) {
      max-width: 800px;
    }
  }
</style>
