<!-- Background Nav and Hero section -->
<div class="h-[1200px] background"></div>

<style>
  .background {
    background:
      url("../assets/bgImg.webp");
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    pointer-events: none;
  }
</style>
 