---
import phoneIcon from "../assets/tabler_phone.svg";
import mailIcon from "../assets/email.svg";
---

<section id="contact" class="max-w-[1440px] mx-auto lg:mb-[150px]">
  <div class="bg-contactBg">
    <h3
      class="py-[10px] ml-[20px] xxs:ml-[85px] lg:ml-0 lg:pl-[117px] lg:pr-[1036px] text-[40px] md:text-[56px] lg:text-[64px] font-normal text-navTxtColor"
    >
      Контакты
    </h3>
  </div>
  <div
    class="bg-contactBodyBg xxs:pt-[66px] xxs:pl-[40px] lg:pl-[117px] pb-[69px] lg:pr-[244px] flex justify-between flex-col md:flex-row gap-[40px] md:gap"
  >
    <div
      class="bg-contactFormBg border-titleGreenTxtColor rounded-lg border-[0.5px] max-w-[636px]"
    >
      <div class="md:px-[45px] mx-[10px] xxs:mx-[30px] pt-[28px] pb-[27px] lg:pr-[58px]">
        <h4 class="ml-[10px] xxs:ml-0 text-left text-[28px] xxs:text-[32px] md:text-[40px] font-light pb-[26px]">
          Обратная связь
        </h4>
        <form class="flex flex-col items-center xxs:items-baseline xxs:mx-0 mx-[15px]" id="form" method="POST">
          <!-- Web3Forms settings -->
          <input
            type="hidden"
            name="access_key"
            value="6d8f89e7-10cf-4bce-9218-204ad04560e1"
          />
          <input
            type="checkbox"
            name="botcheck"
            class="hidden"
            style="display: none;"
          />
          <input type="hidden" name="from_name" value="Заявка с сайта" />
          <div class="form-group">
            <label for="name">Имя <span>*</span> :</label>
            <input id="name" name="name" required type="text" />
          </div>
          <div class="form-group">
            <label for="phone">Телефон :</label>
            <input type="tel" id="phone" name="phone" />
          </div>
          <div class="form-group">
            <label for="email">Почта <span>*</span> :</label>
            <input type="email" id="email" name="email" required />
          </div>
          <label class="mb-[5px] mx-auto xxs:mx" for="message">Сообщение :</label>
          <textarea
            class="w-full -0 sm:w-[533px] h-[149px] mb-[20px]"
            name="message"
            id="message"
            rows="4"></textarea>
          <button
            class="px-[30px] py-[15px] bg-contactSubmitButtonBg rounded-lg text-navText text-[20px] font-bold"
            type="submit">Отправить заявку</button
          >
          <div class="h-captcha mt-10" data-captcha="true"></div>
          <div id="result"></div>
        </form>
      </div>
    </div>
    <div class="flex flex-col items-center xxs:items-start">
      <address
        class="flex flex-col sm:flex-row md:flex-col gap-[75px] not-italic md:mr-[20px] w-fit md:w-auto"
      >
        <div
          id="address-wrapper"
          class="flex py-[25px] pl-[22px] pr-[22px] lg:pr-[31px] items-center justify-between gap-[38px]"
        >
          <div class="flex gap-[19px]">
            <img
              src={phoneIcon.src}
              alt="Изображение иконки мобильного телефона"
              width="32px"
              height="32px"
              loading="lazy"
            />
            <span id="line-separator" class="w-[1px] h-[65px]"></span>
          </div>
          <div class="flex flex-col gap-[15px]">
            <span>+7 (701) 222 22 15</span>
            <span>+7 (701) 432 25 15</span>
          </div>
        </div>
        <div
          id="email-wrapper"
          class="flex py-[30px] pl-[26px] pr-[26px] lg:pr-[100px] gap-[38px] items-center md:items-start md:gap-0 justify-around lg:justify-between"
        >
          <img
            src={mailIcon.src}
            alt="Изображение иконки почтового адреса"
            width="32px"
            height="32px"
            loading="lazy"
          />
          <span>me-09@list.ru</span>
        </div>
      </address>
    </div>
  </div>
</section>

<style>
  label {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }

  input {
    padding: 10px;
    width: 268px;
    height: 46px;
    border: 1px solid #000;
    border-radius: 8px;
    @media screen and (max-width: 431px) {
      width: 100%;
    }
  }

  .form-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 385px;
    margin-bottom: 14px;

    @media screen and (max-width: 431px) {
     flex-direction: column;
    }
  }

  #message {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #000;
    resize: none;
  }

  .form-group span {
    color: #ee5d5d;
  }

  #address-wrapper,
  #email-wrapper {
    border-radius: 8px;
    border: 1px solid rgba(33, 109, 106, 0.95);
    background: #fff;
  }

  address span {
    font-weight: 400;
    font-size: 20px;
  }

  #line-separator {
    background: #b8abab;
  }

  #contact h3 {
    @media screen and (max-width: 1200px) {
      padding: 0;
    }
  }

</style>

<script src="https://web3forms.com/client/script.js" async defer></script>
<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Пожалуйста подождите...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = "Заявка успешно отправлена. Спасибо!";
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Что-то произошло не так!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
