---
import galleryImg1 from "../assets/galleryImg1.webp";
import galleryImg2 from "../assets/galleryImg2.webp";
import galleryImg3 from "../assets/galleryImg3.webp";
---

<section class="mb-[200px]">
  <h3
    class="mb-[144px] text-[64px] font-normal text-titleGreenTxtColor text-center"
  >
    Фотогалерея
  </h3>
  <div class="wrapper mx-auto w-full relative">
    <span class="left-arrow"></span>
    <div class="carousel flex items-center w-full">
      <img
        src={galleryImg1.src}
        alt="Изображение полевых и инженерно изыскательных работ ТОО Мангистау Инжиниринг"
      />
      <img
        src={galleryImg2.src}
        alt="Изображение использования геологического оборудования на объекте ТОО Мангистау Инжиниринг"
      />
      <img
        src={galleryImg3.src}
        alt="Изображение техники для геодезических работ"
      />
      <img
        src={galleryImg2.src}
        alt="Изображение полевых и инженерно изыскательных работ"
      />
    </div>
    <span class="right-arrow"></span>
  </div>
</section>

<style>
  .wrapper {
    max-width: 1200px;
  }

  .wrapper .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }

  .carousel img {
    height: 600px;
    object-fit: cover;
    width: 400px;
    padding: 0 5px;
  }

  .left-arrow {
    position: absolute;
    background: url("../assets/prevBtn.webp");
    width: 48px;
    height: 48px;
    cursor: pointer;
    top: 50%;
    left: -5%;
    transform: translate(5%, -50%);
  }

  .right-arrow {
    position: absolute;
    background: url("../assets/nextBtn.webp");
    width: 48px;
    height: 48px;
    cursor: pointer;
    top: 50%;
    right: -5%;
    transform: translate(5%, -50%);
  }
</style>

