---
import logo from "../assets/logo.webp";
---

<>
  <div class="flex justify-center items-center pt-[180px]">
    <img src={logo.src} alt="Логотип компании ТОО Мангистау Инжиниринг" width="93px" height="67px" />
    <h1 class="ml-[30px] text-[40px] md:text-[56px] lg:text-[64px] text-center">ТОО «Мангистау Инжиниринг»</h1>
  </div>
  <div
    class="max-w-[750px] text-[28px] md:text-[32px] lg:text-[40px] leading-[45px] font-light text-center mt-[25px] mx-auto"
  >
    Профессиональные работы в сфере <br /> инженерных изысканий
  </div>
  <div class="flex items-center justify-center text-[20px] md:text-[24px] lg:text-[32px] mt-[40px] gap-[14px] font-light">
    <span>Геодезия</span>
    <svg
      width="7"
      height="7"
      viewBox="0 0 7 7"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle id="Ellipse 2" cx="3.5" cy="3.5" r="3.5" fill="black"></circle>
    </svg>
    <span>Геология</span>
    <svg
      width="7"
      height="7"
      viewBox="0 0 7 7"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle id="Ellipse 2" cx="3.5" cy="3.5" r="3.5" fill="black"></circle>
    </svg>
    <span>Лазерное сканирование</span>
  </div>
</>
