---
import Tabs from "./Tabs.astro";

---

<section>
  <h3
    class="mb-[80px] text-[64px] font-normal text-titleGreenTxtColor text-center"
  >
    Наши Услуги
  </h3>
  <Tabs
    headings={["Геодезия", "Лазерное сканирование", "Геология"]}
    contents={["geodesy", "laser", "geology"]}
    activeTextColor="rgba(255, 255, 255, 0.95)"
  />
</section>
