---
import Tabs from "./Tabs.astro";
---

<section id="service" class="mb-[180px] lg:mx-0 mx-[40px]">
  <h3
    class="mb-[80px] text-[56px] lg:text-[64px] font-normal text-titleGreenTxtColor text-center"
  >
    Наши Услуги
  </h3>
  <Tabs
    headings={["Геодезия", "Лазерное сканирование", "Геология"]}
    contents={["geodesy", "laser", "geology"]}
    activeTextColor="rgba(255, 255, 255, 0.95)"
  />
</section>
